.month-container, .month-header, .month-body {

    display:flex;
    flex-direction: column;
}

.month-container {

    margin: 10px;
}

.month-year {

    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    background-color: #b1b1b1;
    padding: 3px 0;
}

.week, .days {

    display: flex;
    justify-content: space-between;
}

.days {

    font-size: 12px;
    font-weight: bolder;
    color: #535353;
}

.day, .day-legend {

    width: 30px;
    height: 30px;
    margin-right: 1px;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day {
    font-size: 13px;
}

.day.gray {

    background-color: #e3e3e3;
}

.day.green {

    background-color: #1d9e1d;
}

.day.weekend {

    background-color: #eeee52;
}


